@charset "UTF-8";

*{
    padding: 0px;
    margin: opx;
}

:root {
    --cor00: #10403B;
    --cor01:#127369;
    --cor02: #8AA6A3;
    --cor03: #637371;
    --cor04: #BFBFBF;
}

header {
    padding-top: 5px;
    border-radius: 10px;
    min-width: 100px;
    background-color: var(--cor01);
    color: var(--cor04);
    text-align: center;
    padding-bottom: 5px;   
}

header > h3 {
    text-align: right;
    padding-right: 10px;
    color: var(--cor02);
}

article{
    margin-top: 10px;
    height: 100px;
    width: 300px;
    border-width: 2px;
    border-color: var(--cor00);
    border-radius: 10px;
    border-style: solid;
    color: var(--cor04);
}

article.Doces {
    background-image: url(/Imagens/Doces.jpg);
    
    
}

article.Salgados {
    background-image: url(/Imagens/Salgados.jpg);
}

article.Bolos {
    background-image: url(/Imagens/Bolos.jpg);
}

article.Geleias {
    background-image: url(/Imagens/Geleias.jpg);
}

a {
    color: var(--cor04);
}

footer {
    background-color: var(--cor00);
    color: var(--cor04);
    text-align: center;
}