@charset "UTF-8"


*{
    padding: 0px;
    margin: opx;
}

header {
    padding-top: 20px;
    border-radius: 10px;
    background-color: turquoise;
    color: crimson;
    text-align: center;
    padding-bottom: 10px;
}